.login_page_center {
    margin: auto;
    width: 50%;
    padding: 10px;
    /* text-align: center; */
}
.login_page_heading {
    padding-top: 20px;
    padding-bottom: 20px;
}
a {
    color: gray;
    text-decoration: underline;
    text-decoration-color: gray;
}

.newBtn {
    outline: 2px solid;
    outline-color: #0b6efe;
    padding: 0.8% 1.5% 0.8% 1.5%;
    border-radius: 2px;
    background-color: #0b6efe;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
}

.newBtn:hover {
  background-color: #0b5afe;
  outline-color: #0b5afe;
  color: white;
}
